***Anime Quiz***

*** Q5 and Q7(ans correct, but option not present) : Visit again.*italicized text*

In [123]:
# import numpy and pandas
import numpy as np
import pandas as pd

In [124]:
# import csv file
df = pd.read_csv('/content/anime-dataset-2023.csv')

anime = df.copy()

In [125]:
# anime.head()

In [126]:
# renamin columns
anime.columns
new_col = [i.lower().replace(' ','_') for i in anime.columns]
anime.columns = new_col;

Q1. Which anime has the longest synopsis?

In [127]:
# ans 1
anime[anime['synopsis'].str.len() == anime['synopsis'].str.len().max()]
anime['syn_len'] = anime['synopsis'].str.len()
anime[anime['syn_len'] == anime['syn_len'].max()]['name']

23770    Fangyu Quan Kai
Name: name, dtype: object

:Q2. What is the average score of anime produced by 'Studio Ghibli'?

In [128]:
# clean score data column
anime.score = anime['score'].apply(lambda x : float(x) if x!='UNKNOWN' else np.nan)
anime.score = anime.score.astype(float)

# ans 2
# anime[anime['studios']=='Studio Ghibli'].groupby('studios')['score'].mean()

In [129]:
# ans 2
anime[anime['studios']=='Studio Ghibli'].groupby('studios')['score'].mean()

studios
Studio Ghibli    6.822
Name: score, dtype: float64

Q3. How many unique anime titles start with the letter 'A'?

In [130]:
anime[anime['name'].str.startswith('A')].nunique().loc['name']

1208

Q4. Which year has the highest number of anime releases?

In [131]:
# Year with highest number of anime releases :

anime[anime['premiered'] != 'UNKNOWN']['premiered'].str.split(' ').str[-1].value_counts().head(1)

premiered
2016    280
Name: count, dtype: int64

Q5. Which genre has the highest average number of episodes?

In [132]:
# clean 'episodes' columns
anime.episodes = anime['episodes'].apply(lambda x : float(x) if x!='UNKNOWN' else np.nan)
anime.episodes = anime.episodes.astype(float)


anime['new_genre'] = anime.genres.str.split(', ')

In [133]:
explode_df = anime.explode(column = 'new_genre')

explode_df.groupby('new_genre')['episodes'].mean().sort_values(ascending=False)

new_genre
Adventure        20.253266
Gourmet          19.765957
Fantasy          19.371193
Comedy           18.310996
UNKNOWN          17.132075
Sports           15.559840
Slice of Life    15.327251
Action           14.075132
Sci-Fi           13.474203
Romance          11.081704
Supernatural     10.935038
Mystery          10.170673
Drama             9.556472
Suspense          8.432314
Horror            8.136106
Ecchi             7.868118
Girls Love        6.888889
Boys Love         6.265060
Award Winning     5.741667
Erotica           2.444444
Hentai            2.301455
Avant Garde       1.647940
Name: episodes, dtype: float64

Q6. Which anime has the highest number of members and is rated 'R-17+'?

In [134]:
anime['new_rating'] = anime['rating'].str.split(' ').str[0]
anime.groupby('rating')['anime_id'].count()
anime[anime['new_rating'] == 'R']
anime[anime['members'] == anime['members'].max()]['english_name']

7428    Attack on Titan
Name: english_name, dtype: object

Q7. Which anime has the highest score with less than 1000 members?

In [135]:
anime[anime['members']<1000].groupby(['anime_id','name'])['score'].max().sort_values(ascending=False).head(1)

anime_id  name
47351     Kaibutsu    7.56
Name: score, dtype: float64

Q8. What is the most common Studio for anime released in the summer season?

In [136]:
# clean premiered column
anime['season'] = anime['premiered'].str.split(' ').str[0]
anime[anime['season'] == 'summer'].groupby('studios')['anime_id'].count().sort_values(ascending=False).head()

studios
UNKNOWN         148
J.C.Staff        39
Studio Deen      32
Madhouse         25
A-1 Pictures     21
Name: anime_id, dtype: int64

Q9. What is the top 5 most common genres, including their count?

In [143]:
explode_df['new_genre'].value_counts().head()

new_genre
Comedy       7142
Fantasy      5306
UNKNOWN      4929
Action       4730
Adventure    3842
Name: count, dtype: int64

Q10. What is the correlation between 'Popularity' and 'Favorites'?

In [138]:
anime['popularity'].corr(anime['favorites'])

-0.16317349175869134